* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    width: 100%;
    height: 65px
}

.header .logo {
    margin: 10px;
    font-size: 30px;
    letter-spacing: 5px;
}

.header .logo i {
    font-size: 36px;
    color: rgb(185, 7, 7);
}

#hambtn {
    display: none;
}

#hambtn:checked~.lnb_ham li {
    height: 50px;
    opacity: 1;
}

#hambtn~.lnb_ham li {
    height: 0;
    opacity: 0;
}

#hambtn:checked~.lnb_label.btn_open {
    display: block;
}

#hambtn~.lnb_label.btn_open {
    display: none;
}

.wrap {
    width: 90%;
    margin: 0 auto;
}



/* ---------- lnb -------------- */
.lnb_web {
    display: none;
}



.logo {
    float: left;
}


.btn_open i {
    background-color: white;
    border: 1px solid black;
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}

.lnb_ham_box .lnb_label {
    float: right;
    margin: 10px;
}



.lnb_ham li {
    float: left;
    width: 100%;
    height: 30px;
    background: white;
    transition: all 0.3s 0.2s;
}

/* ------------ subtitle ------------ */
.subtitle {
    overflow: hidden;
    margin-bottom: 20px;
}

.subtitle div {
    float: left;
}

.subtitle span {
    color: grey;
    font-weight: bold;
    margin: 0 10px;
}

/* ------------ maintitle ------------ */
.maintitle {
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 20px;
}

.maintitle div {
    float: left;
}

.maintitle .box {
    height: 30px;
    width: 20px;
    background: rgb(172, 37, 14);
}

.maintitle .title {
    font-size: 24px;
    margin-left: 10px;
    line-height: 28px;
}


/* ------------ mainvisual ------------ */
.mainvisual {
    width: 100%;
    margin-bottom: 20px;

}

/* ------------ sub_article ------------ */
.sub_article {
    font-size: 13px;
    color: grey;
    margin-bottom: 20px;
}

/* ------------ main_article ------------ */
.main_article {
    text-align: justify;
    column-count: 2;
    margin-bottom: 20px;
}

/* ------------ introduce ------------ */
.introduce {
    border: 5px solid #ddd;
    margin-bottom: 20px;
}

.introduce ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* ------------footer ------------ */


.footer {

    width: 100%;
    height: 50px;

    color: grey;
    background-color: #ddd;
    padding-left: 5%;
    line-height: 50px;
    box-sizing: border-box;
}




/* ------------ media query ------------- */

@media all and (min-width:601px) {}

@media all and (min-width:960px) {
    .footer_outer {
        width: 100%;
        background: #ddd;
    }

    .wrap {
        width: 90%;
        margin: 0 auto;
    }

    .header {
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
    }

    .lnb_ham_box {
        display: none;
    }

    .lnb_web {
        display: block;
        float: right;
    }

    .lnb_web li {
        float: left;
        padding: 10px;
        line-height: 50px;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .header_outer {
        width: 100%;
    }

    .header {
        width: 90%;
        margin: 0 auto 20px;
    }

    .wrap {
        display: flex;
        width: 90%;
    }

    .article {
        width: 75%;
        order: 1;

    }

    .introduce {
        width: 20%;
        height: 300px;
        margin-right: 5%;
    }


}