* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    height: 50px;
    margin-bottom: 20px;
    background: black;
}

.content {
    height: 600px;
    background: black;
}

/* --------------- media_query -------------- */