@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;

}

.header {
    width: 100%;
}

.logo {
    width: 50px;
    margin: 10px auto;
}

img {
    width: 100%;
}

.lnb {
    display: flex;
    color: white;
    background: black;
    padding: 10px 0;
    margin-bottom: 20px;

}

.lnb li {

    margin-left: 10px;
    text-align: center;
}

.lnb_btn {
    margin-bottom: 20px;
}

.lnb_btn button {
    background: #ccc;
    padding: 5px;
    border-radius: 10px;
    border: none;
}



.article .title_color {
    background: black;
    width: 15px;
    height: 30px;
    margin-right: 10px;
}

.article_title01,
.article_title02 {
    display: flex;
    margin: 20px 0;
}

/* ---------- icon ------------- */
.sns {
    display: flex;
    height: 50px;
    line-height: 50px;
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
    color: white;

}

.sns span {
    display: none;

}

.sns .icon_t {
    flex-grow: 1;
    background: rgb(60, 145, 224);
}

.sns .icon_f {
    flex-grow: 1;
    background: rgb(64, 63, 155);
}

.sns .icon_g {
    flex-grow: 1;
    background: rgb(214, 78, 78);
}


.brand_story i {
    transform: rotate(-90deg);
}

/* relative article */
.relative_article_img {
    display: flex;
    flex-wrap: wrap;
    background: #ccc;
    justify-content: space-around;
}

.relative_article h2 {
    background: #ccc;
}

.relative_article_img>div {
    width: 40%;
}


.interview picture {
    position: relative;
}

.txt {
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    color: white;
}


.best_article .magazine {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.best_article .magazine div {
    width: 150px;
}

.footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

hr {
    margin: 10px;
}


/* ------------medeia_query----------- */
@media all and (min-width: 768px) {

    .relative_article_img {
        display: flex;
        flex-wrap: nowrap;
        background: #ccc;
        justify-content: space-around;
    }

    .relative_article_img div {
        margin-right: 10px;
    }

    .relative_article_img div:nth-child(1) {
        margin-left: 10px;
    }

    .tablet {
        display: flex;
    }

    .brand_story_interview {
        margin-right: 50px;
    }

}

@media all and (min-width: 1024px) {
    .web_tablet {
        display: flex;
    }

    .tablet {
        display: inline;
    }

    .tablet {
        margin-left: 10px;
    }

    .brand_story_interview {
        margin-right: 0px;
    }

    .sns span {
        display: inline;
    }

    .best_article .magazine div {
        width: 100%;
    }
}

@media all and (min-width: 1280px) {
    .header_outer {
        width: 100%;

        background: black;
    }

    .header {
        width: 90%;
        margin: 0 auto;
    }

    .wrap {
        width: 90%;
        margin: 0 auto;
    }

}